{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cities list</h1>
    {% include 'manage/manage.html.twig' %}
{% include 'flash/flash.html.twig' %}
    <table class="table table-responsive">
        <div class="countainer">


            <div class="col-md-10 col-md-offset-0">
        <thead>
            <tr>
                <th>{{ knp_pagination_sortable(pagination,'Id' ,'p.id') }}</th>
                <th>{{ knp_pagination_sortable(pagination,'Name' ,'p.name') }}</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
            <tr>
                <td><a href="{{ path('city_show', { 'id': city.id }) }}">{{ city.id }}</a></td>
                <td>{{ city.name }}</td>
                <td>
                    <ul>

                            <a href="{{ path('city_show', { 'id': city.id }) }}"
                               class="label label-success">show</a>


                            <a href="{{ path('city_edit', { 'id': city.id }) }}"
                               class="label label-warning">edit</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>
    <ul>
        <li>
            <a href="{{ path('city_new') }}">Create a new city</a>
        </li>
    </ul>
    <div>
        <div>
{% endblock %}
